<% title "Full Stack Web Developer" %>
<div class="text-center">
	<div class="vertical-center">
		<div id="photo">
			<!-- Insert photo here -->
			<div id="greeting">
				Hi, I'm Robin!
			</div>
		</div>

		<ul id="social">
			<li><%= link_to "", "http://www.facebook.com/snokstyle", :alt => "Facebook", :target => "_blank", class: "fa fa-facebook-square" %></li>
			<li><%= link_to "", "https://se.linkedin.com/pub/robin-nilsson/4b/8a6/524", :alt => "LinkedIn", :target => "_blank", class: "fa fa-linkedin-square" %></li>
			<li><%= link_to "", "http://www.github.com/robin-nilsson", :alt => "Github", :target => "_blank", class: "fa fa-github-alt" %></li>
			<li><%= link_to "", "mailto:robin@robins.nu", class: "fa fa-envelope" %></li>
		</ul>
		<div id="contact-info">
			<i class="fa fa-mobile"> 46(0)707-539089</i> |
			<i class="fa fa-skype"> robin@robins.nu</i>
		</div>
	</div>
</div>