<% title "Resume" %>
<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">
		<section class="category overview">
			<div class="category-title">OVERVIEW</div>
			<div class="item">
				<p>I am a social, analytical and knowledge-hungry team player. As a problem solver by heart, I see possibilities and solutions where others see obstacles. I think the journey is more important than the destination, because it gives me valuable lessons on how to be a better developer for my next project. My biggest challenge is time estimation and time management, both professionally and as a programming hobbyist. I always try to stay up to date on the newest and hottest technologies out there, not because I have to (I do!) - but because I'm very passionate about what I do for a living!</p>
			</div>
		</section>
		<section class="category experience">
			<div class="category-title">EXPERIENCE</div>
			<div class="item">
				<h2 class="item-company-title">Fortnox AB</h2>
				<span class="item-personal-title">System Developer</span>
				<div class="item-date">February 2016 - current</div>
				<p class="item-company-details">Develop online business software for the Swedish market</p>
				<ul class="item-personal-details">
					<li>Part of a team that maintains a legacy module using quality design patterns</li>
					<li>Code reviews are regular and intended to encourage refactoring to minimize technical debt</li>
					<li>Being critical of someone else's code in code reviews, as well as having my own code reviewed has helped me write better quality code</li>
					<li>Agile development using Scrum</li>
					<li>My first introduction to the large process chain that exists in a medium-sized/large-sized business</li>
				</ul>
			</div>
			<div class="item">
				<h2 class="item-company-title">Briox AB</h2>
				<span class="item-personal-title">System Developer</span>
				<div class="item-date">January 2015 - February 2016</div>
				<p class="item-company-details">Develop online business software for the UK, German and Finnish market</p>
				<ul class="item-personal-details">
					<li>I was part of a team to help build a very sophisticated, leading online business software for small to medium-sized businesses</li>
					<li>I learned a new backend language; PHP - which powered the system in the backend</li>
					<li>Write sustainable and readable code in accordance to good design patterns</li>
					<li>A lot of legacy code that I had to learn how to maintain with a quality standard</li>
					<li>Writing technical specifications on the projects I worked on to better plan my architectural design</li>
					<li>Agile development using Scrum</li>
				</ul>
			</div>
			<div class="item">
				<h2 class="item-company-title">Surikat AB</h2>
				<span class="item-personal-title">System Developer Intern</span>
				<div class="item-date">November 2015 - December 2015</div>
				<p class="item-company-details">Rebuild the backend architecture of a module from ASP.NET WebForms to ASP.NET MVC</p>
				<ul class="item-personal-details">
					<li>An isolated part of a logistics management project needed to be modernised with the MVC pattern</li>
					<li>A welcomed new challenge that had not been a part of my curriculum in school</li>
					<li>6 weeks was too short to finish, but invaluable lessons were learned about the importance of sustainable future safe code</li>
				</ul>
			</div>
			<div class="item">
				<h2 class="item-company-title">NovaCura AB</h2>
				<span class="item-personal-title">Desktop UX Developer</span>
				<div class="item-date">April 2014 - October 2014</div>
				<p class="item-company-details">Help build the frontend of the NovaCura Flow platform</p>
				<ul class="item-personal-details">
					<li>Part-time after school</li>
					<li>Using WPF (Windows Presentation Foundation) .NET</li>
					<li>First developer job I could apply what I had learned from school and get a taste for the industry</li>
				</ul>
			</div>
			<div class="item">
				<h2 class="item-company-title">Briox AB</h2>
				<span class="item-personal-title">Test & QA</span>
				<div class="item-date">April 2012 - April 2013</div>
				<p class="item-company-details">Write and execute manual tests as well as perform system and functional tests</p>
				<ul class="item-personal-details">
					<li>Build test suites for manual testing of the system</li>
					<li>Interpret product specifications and from them compose test specifications</li>
					<li>My first introduction to agile development using Scrum</li>
				</ul>
			</div>
		</section>
		<section class="category education">
			<div class="category-title">EDUCATION</div>
			<div class="item">
				<h2 class="item-company-title">Teknikhögskolan</h2>
				<span class="item-personal-title">System Development .NET</span>
				<div class="item-date">August 2013 - May 2015</div>
				<p class="item-company-details">Full-stack with a focus on .NET and introduction to Windows Azure</p>
				<ul class="item-personal-details">
					<p>For my examination paper worked on at Briox AB:</p><br>
					<li>Implement functionality to receive e-invoices for the Finnish market</li>
					<li>Write the technical specification for the project</li>
					<li>My first introduction as a software developer to time estimation in an agile environment</li>
				</ul>
			</div>
		</section>
	</div>
</div>