<div class="row">
<div class="col-lg-1"></div>
<div class="col-lg-10">
		<section class="category overview">
			<div class="category-title">OVERVIEW</div>
			<div class="item">
				<p>Cat ipsum dolor sit amet, all of a sudden cat goes crazy yet stand in front of the computer screen. Run outside as soon as door open jump around on couch, meow constantly until given food, . Cat slap dog in face get video posted to internet for chasing red dot. Chew on cable. Attack feet tuxedo cats always looking dapper, caticus cuteicus and dream about hunting birds but howl uncontrollably for no reason so sit on the laptop, always hungry.</p>
			</div>
		</section>
		<section class="category experience">
			<div class="category-title">EXPERIENCE</div>
			<div class="category-item">
				<h2 class="item-company-title">Fortnox</h2>
				<span class="item-personal-title">System Developer</span>
				<div class="item-date">February 2016 - current</div>
				<p class="item-company-details">Develop software etc</p>
				<ul class="item-personal-details">
					<li>Something I did</li>
					<li>Another thing I did</li>
					<li>Something I learned perhaps?</li>
				</ul>
				<h2 class="item-company-title">Briox AB</h2>
				<span class="item-personal-title">System Developer</span>
				<div class="item-date">January 2015 - February 2016</div>
				<p class="item-company-details">Develop software etc</p>
				<ul class="item-personal-details">
					<li>Something I did</li>
					<li>Another thing I did</li>
					<li>Something I learned perhaps?</li>
				</ul>
			</div>
		</section>
		<section class="category education">
			<div class="category-title">EDUCATION</div>
			<div class="category-item">
				<h2 class="item-company-title">Teknikhögskolan</h2>
				<span class="item-personal-title">System Development .NET</span>
				<div class="item-date">August 2013 - May 2015</div>
				<p class="item-company-details">Focus on .NET</p>
				<ul class="item-personal-details">
					<li>Something I did</li>
					<li>Another thing I did</li>
					<li>Something I learned perhaps?</li>
				</ul>
			</div>
		</section>
	</div>
</div>