<div class="row">
<div class="col-lg-1"></div>
<div class="col-lg-10">
		<section class="category overview">
			<div class="category-title">OVERVIEW</div>
			<div class="item">
				<p>I love learning a concept and understanding how it fits together in the larger picture. To gain a better view of the full stack I'm moving away from back end development and focusing on front end challenges. I'm interested in writing what the user interacts with and making sure they have an wonderful experience. I'm looking for a company focused on quality and a position where I can explore new problems and come up with creative solutions.</p>
			</div>
		</section>
		<section class="category experience">
			<div class="category-title">EXPERIENCE</div>
			<div class="category-item">
				<h2 class="item-company-title">Fortnox</h2>
				<span class="item-personal-title">System Developer</span>
				<div class="item-date">February 2016 - current</div>
				<p class="item-company-details">Develop software etc</p>
				<ul class="item-personal-details">
					<li>Something I did</li>
					<li>Another thing I did</li>
					<li>Something I learned perhaps?</li>
				</ul>
			</div>
		</section>
		<section class="category education">
			<div class="category-title">EDUCATION</div>
			<div class="category-item">
				<h2 class="item-company-title">Fortnox</h2>
				<span class="item-personal-title">System Developer</span>
				<div class="item-date">February 2016 - current</div>
				<p class="item-company-details">Develop software etc</p>
				<ul class="item-personal-details">
					<li>Something I did</li>
					<li>Another thing I did</li>
					<li>Something I learned perhaps?</li>
				</ul>
			</div>
		</section>
	</div>
</div>