body {
	font-family: 'Raleway', Lato !important;
	h1 {
		font-size: 46px;
		margin-bottom: 0.01em;
	}
}

#main-content {
	margin-top: 5em;
}

.center {
	text-align: center;
}

.vertical-center {
	margin-top: 14.5%;
}

body.mce-content-body {
    font-size: 14px !important;
    font-family: 'Raleway' !important;
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-flatly";
@import "normalize";
@import "font-awesome";
@import "pages";
@import "navbar";
@import "index";
@import "messages";
@import "posts";
@import "resume";
@import "resources";