body {
	font-family: 'Raleway', Lato !important;
	h1 {
		font-size: 46px;
	}
}

#main-content {
	margin-top: 5em;
}

.center {
	text-align: center;
}

.vertical-center {
	margin-top: 14.5%;
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-flatly";
@import "normalize";
@import "font-awesome";
@import "pages";
@import "navbar";
@import "index";
@import "messages";
@import "posts";