#greeting {
	font-size: 48px;
	font-weight: 700;
}

#social {
	display: block;
	padding: 2.5em 0;
	list-style-type: disc;

	li {
		font-size: 30px;
		display: inline;
		padding: 0 0.5em;
	}

	a:hover {
		opacity: 0.5;
	}
}