#resources {
	margin-left: 100px;
	margin-top: 50px;
	border: none;
	
	h1 {
		font-size: 36px;
	}

	p {
		margin-top: 12px;
		font-size: 1.4em;
		line-height: 1.75;
		pre {
			font-size: 0.7em;
		}
	}

	.posts-wrapper {
		border: none;
	}
}