<nav id='menu' class='navbar navbar-inverse'>
  <div class='container-fluid'>
    <ul class='nav nav-pills navbar-right'>
      <li>
        <%= link_to 'Me', root_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to 'Contact', contact_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to 'Blog', '#', class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>